# =========================================================
# Maven
# =========================================================

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# =========================================================
# IntelliJ IDEA
# =========================================================

.idea/
*.iml
*.iws
*.ipr

# =========================================================
# Java
# =========================================================

*.class

# =========================================================
# Logs
# =========================================================

*.log

# =========================================================
# Environment / Secrets
# =========================================================

.env
.env.*

# =========================================================
# MiniORM local database configuration
# =========================================================

src/main/resources/db.properties